<head>
    <meta charset='UTF-8' />
    <link type='text/css' rel='stylesheet'
        href='http://fluig.totvsrs.com.br:8580/portal/resources/style-guide/css/fluig-style-guide.min.css' />
    <script type='text/javascript' src='http://fluig.totvsrs.com.br:8580/portal/resources/js/jquery/jquery.js'></script>
    <script type='text/javascript'
        src='http://fluig.totvsrs.com.br:8580/portal/resources/style-guide/js/fluig-style-guide.min.js'></script>
    <link type='text/css' rel='stylesheet'
        href='http://fluig.totvsrs.com.br:8580/portal/resources/style-guide/css/fluig-style-guide.min.css' />
    <script type='text/javascript' src='http://fluig.totvsrs.com.br:8580/portal/resources/js/jquery/jquery.js'></script>
    <script type='text/javascript'
        src='http://fluig.totvsrs.com.br:8580/portal/resources/style-guide/js/fluig-style-guide.min.js'></script>
    <script type='text/javascript' src='/portal/resources/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/portal/resources/js/jquery/jquery-ui.min.js'></script>
    <script type='text/javascript' src='/portal/resources/js/mustache/mustache.min.js'></script>
    <script type='text/javascript' src='jquery-ui.js'></script>
</head>

<body>
    <div class='fluig-style-guide'>
        <!-- some code here -->
    </div>
</body>
<!-- Leonardo Esteve aqui -->

<!-- Leonardo Esteve aqui -->

<!-- Leonardo Esteve aqui -->

<!-- Leonardo Esteve aqui -->